
<% layout("/layouts/boilerplate", { userdata: userdata }) %>
<body class="w-screen ">
   <% if(itemdata == 0) { %>
        <p class="w-full h-[70vh] flex justify-center items-center font-bold text-2xl">No list yet... </p>
 <%  } else { %>

   <section class=" flex justify-center flex-wrap p-5 gap-10">
      <% itemdata.forEach(element => { %>  
         <div class="card w-72  overflow-hidden border-gray-200">
              <img class="w-full h-60 mb-2" src="<%= element.image %>" alt="">
              <h1 class="px-2 font-semibold"><%= element.title %></h1>
              <div class="location flex justify-between px-2">
                <p><%= element.location %></p>
                <p class="font-semibold"><%= element.country %></p>
             </div>
             <div class="flex justify-between px-2">
             <p>&#8377; <%= element.price%>/Month</p>
             <button class="w-20 h-8 mb-2  rounded-md text-blue-800 underline" ><a href="/show/<%= element._id %>">More...</a></button>
            </div>
         </div>
    <%  }); %>
 </section>

<% } %>



  
</body>


